/* General */

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}



html {
	scroll-behavior: smooth;
}


body {
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}



/* Nav */


.navbar {
	position: sticky;
	top: 0;
	display:flex;
	justify-content: space-between;
	align-items: center;
	background: #460E2C;
	border-bottom: 1px solid #000;
	color: #fff;
	z-index: 11;


}


.title {
	font-size: 2rem;
	margin: 1rem;
	font-family: 'Dancing Script', cursive;

}



.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;

}


.navbar-links li a{
	text-decoration: none;
	color: #fff;
	padding: 1rem;
	display: block;
	font-size: 20px;
	font-weight: bold;
}


.navbar-links li a:hover {
	background: #ffaaaa;
	border-radius: 6px;
}


.hamburger {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}


.hamburger .bar{
	height: 3px;
	width: 100%;
	background: #fff;
	border-radius: 10px;

}


@media (max-width: 750px) {
	.hamburger {
		display:flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
		
	}

	.navbar-links ul {
		width: 100%;
		flex-direction: column;

	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: .75rem 1rem;
	}

	.navbar-link.active {
		display: flex;
	}
}



/* Main */


.cus-div {
	width: 100%;
	position: relative;

}

#skew1 {
	background: url(./images/main2.jpg);
	-webkit-background-size: cover;
	height: 100vh;
	max-width: 100vw;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: 10;

}

#skew2 {
	background: #fff;
	z-index: 9;
}

#skew3 {
	background: #EDD52D
	;
	z-index: 8;
}

#skew4 {
	background: #fff;
	z-index: 7;
}

#skew5 {
	background: #005849;
	z-index: 6;
}

#skew6 {
	background: #28ADAD;
	z-index: 5;
}


.cus-div:after {
	position: absolute;
	width: 100%;
	height: 100%;
	background: inherit;
	z-index: -1;
	bottom: 0;
	content: '';
}


#skew2:after,
#skew4:after {
	transform-origin: left bottom;
	transform: skewY(3deg);

}

#skew3:after {
	transform-origin: right bottom;
	transform: skewY(-3deg);
}

.content {
	font-weight: bold;
	text-align: center;
	padding: 200px 50px;
	display: block;
	height: auto;
}

.content h2 {
	margin: 0;
	padding-bottom: 200px;
	text-transform: uppercase;
	font-size: 55px;
	color:#5c5b97;
	font-family: 'Dancing Script';
}



/* About */



/* Equipment */

img {
	margin-left: 40px;
	width: 100%;
	max-width: 85%;
	height: auto;
	display: block;
	border-radius: 35px;
}

.design {
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	padding-bottom: 40px;
}

.design > div {
	margin-top: 20px;
	display: flex;
	justify-content:center;
	align-items: center;

}

.design > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 1.5s ease;

}


.design  > img:hover {
	transform: scale(1.3);
}




/* Gallery */






/* Contact */




.form {
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}


.contact-par {
	padding-bottom: 200px;
	font-size: 30px;

}


.txtb {
	width: 100%;
	background: #fff;
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 18px;
	border-radius: 8px;
	color: #000;
	justify-content: center;
	align-items: center;
	
}

.txtb label {
	display: block;
	text-align: left;	
	text-transform: uppercase;
	font-size: 25px;

}

.txtb input, .txtb textarea {
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
}


.btn {
	display: inline-block;
	background: #2F61B5 ;
	padding: 14px 0;
	text-transform: uppercase;
	font-size: 20px;
	cursor: pointer;
	margin-top: 20px;
	width: 50%

}


/* Footer */


.footer-div {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
	background: #460E2C;
	display: flex;
}


.footer-div > p {
	width: 40%;
	font-size: 30px;
	padding-top: 25px;
	background: #460E2C;
	border-top: 1px solid #000;
	color: #fff;
	display: flex;
	justify-content: center;
}

.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-link, img {
	padding: 20px;
	align-items: center;
	
}
